accelerate
altair
annotated-types
anyio
asttokens
attrs
blinker
Brotli
cachetools
certifi
chardet
charset-normalizer
click
cmake
colorama
comm
contourpy
cycler
debugpy
decorator
diffusers
distro
exceptiongroup
executing
filelock
fonttools
fpdf
fsspec
gitdb
GitPython
gmpy2
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
ipywidgets
jedi
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
langchain-core
langchain-google-genai
langsmith
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mkl-fft
mkl-random
mkl-service
mpmath
nest_asyncio
networkx
numpy
openai
orjson
packaging
pandas
parso
pickleshare
pillow
pip
platformdirs
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
referencing
regex
reportlab
requests
rich
rpds-py
rsa
safetensors
setuptools
six
smmap
sniffio
stack-data
streamlit
sympy
tenacity
tiktoken
tokenizers
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webcolors
wheel
widgetsnbextension
win-inet-pton
zipp
